{{ define "main" }}
  {{ .Content }}
  {{ if gt ( len ( where .Site.RegularPages "Section" "posts" )) 0 }}
    <h2>Recent Posts</h2>
    <div class="post-list"> <!-- Add a unique class to the container element -->
      	{{ range first 3 ( where .Site.RegularPages "Section" "posts" ) }}
        <article class="all-list post-box">
          <div class="post-content">
            {{ if .Params.banner }} <!-- Check if banner exists -->
              <div class="post-banner">
                <a href="{{ .RelPermalink }}"> <!-- Make the image clickable -->
                  <img src="{{ .Params.banner | relURL }}" alt="{{ .Title }} Banner" />
                </div>
            {{ end }}
            <div class="title-list">
              <h3><a href="{{ .RelPermalink }}">{{ if .Draft }}<i>(Draft)</i> {{ end }}{{ .Title }}</a></h3>
              <div class="title-list-date">
                {{ if eq .Date.IsZero false }}
                  <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
                {{ end }}
                {{ if (and (eq .Lastmod.IsZero false) (ne .Lastmod .Date)) }}
                  (updated)
                {{ end }}
              </div>
            {{ $tags := .Params.tags }} <!-- Get the tags -->
{{ if $tags }} <!-- Check if there are any tags -->
  {{ $filteredTags := (slice) }} <!-- Initialize an empty slice for filtered tags -->
  <div class="post-tags">
    <span class="post-tags-label">🏷️ Tags: </span> <!-- Display the "Tags" label with the same style -->
    {{ range $tags }} <!-- Iterate over the tags -->
      {{ if ne . "latest" }} <!-- Check if the tag is not "latest" -->
        {{ $filteredTags = $filteredTags | append . }} <!-- Append to filtered tags -->
      {{ end }}
    {{ end }}
    {{ if $filteredTags }} <!-- Check if there are any filtered tags -->
      <span>{{ delimit $filteredTags ", " }}</span> <!-- Display filtered tags -->
    {{ end }}
  </div>
{{ end }}
  </div>
            <div class="body-list">
              <p></p> {{/* Spacing is weird if we don't include this */}}
              <p>
                {{ .Summary | truncate 230 }}
              </p>
              {{ if .Truncated }}
                <a href="{{ .RelPermalink }}">Read More…</a>
              {{ end }}
            </div>
          </div>
        </article>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
